{% layout = "layouts/_base.html" %}

{-main-}
  <div class="homepage">
    {(partials/header.html)}
      <app-root></app-root>
    <div class="page">
    </div>
    {(partials/footer.html)}
  </div>
  <script src="assets/js/spa/main-es2015.50ea04d91f24ef0a76ed.js" type="module"></script>
  <script src="assets/js/spa/runtime-es5.edb2fcf2778e7bf1d426.js" nomodule defer></script>
  <script src="assets/js/spa/polyfills-es5.6696c533341b95a3d617.js" nomodule defer></script>
  <script src="assets/js/spa/polyfills-es2015.2987770fde9daa1d8a2e.js" type="module"></script>
  <script src="assets/js/spa/main-es2015.50ea04d91f24ef0a76ed.js" type="module"></script>
  <script src="assets/js/spa/main-es5.50ea04d91f24ef0a76ed.js" nomodule defer></script>
{-main-}
